<b><%= @question.title %></b>
<hr>
<div class="container">
  <%= @question.body %>
</div>
<hr>
<div class="col-md-6 text-left">
  <%= @question.created_at %>
</div>
<div class="col-md-6 text-right">
  <i class="fa fa-question-circle fa-2x fa-fw"></i>
  <i class="fa fa-question fa-2x fa-fw"></i>
  <i class="fa fa-users fa-2x fa-fw"></i>
  <i class="fa fa-heart-o fa-2x fa-fw"></i>
</div>
