<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <div class='panel panel-default'>
      <%= render @question.decorate %>
    </div>
    <div class="col-sm-11 col-sm-offset-1 panel panel-default">
      <h4><b>Respuestas</b></h4>
      <div class="list-group" id="answers_container">
        <%= render @question.answers.decorate %>
      </div>
      <div class="panel-body" id="answer_form">
        <%= render 'answers/form'%>
      </div>
    </div>
  </div>
</div>
