
<div class="text-center">
  <h2><%= image_tag "educanding_azul.png", class:'text-center' %></h2>
</div>
<h5> Educanding es una red creada con la finalidad de facilitar información a la comunidad educativa mediante el intercambio de preguntas y respuestas </h5>
<h5><p>Los servicios que ofrece la comunidad al usuaio son:</p></h5>
<div class="panel-body">
  <h5>
    <dl class="dl-horizontal">
      <dt>Preguntar:</dt>
      <dd>Si algun usuario tiene una duda relacionado en algún tópico pudede formular su pregunta mediante un título y una descripción que entre en detalle sobre dicha pregunta. También tiene la facilidad de relacionar la pregunta con alguna de las etuiquetas existentes para una mejor promoción de la misma</dd>
      <dt>Responder:</dt>
      <dd>Las preguntas seran visibles, dándole la posibilidad a los usuarios de responderlas con el fin de despejar las dudas de quien ha formulado la pregunta. Asu vez, el usuario que formuló la pregunta puede remarcar una de las respuestas como "Mejor Respuesta", lo que resaltaría dicha respuesta por sobre las demás, pudiendo significar que aclaró a la duda</dd>
      <dt>Comentar:</dt>
      <dd>Se pueden dejar alguna acotación o comentario en las preguntas o respuestas</dd>
      <dt>Votar:</dt>
      <dd>Tanto las preguntas como las respuestas tiene una cantidad de voots asociado (Positivo o negativo). Estos votos repercuten en la reputación de quien vota y de quien formulo la pregunta o respuesta</dd>
      <dt>Facultades:</dt>
      <dd>Cada usuario debe asignarse una facultad a la que asiste. Estas facultades servirán al momento de que un usauario desea buscar una pregunta relacionada a una de ellas.</dd>
      <dt>Etiquetas:</dt>
      <dd>La preguntas deben tener de 1  a 5 etiquetas que describan el tema que trata la pregunta.Estas etiquetas servirán al momento de que un usauario desea buscar una pregunta relacionada a una de ellas</dd>
    </dl>
    </dl>
  </h5>
  <h5> La actividad del usuario dentro de la página será recompensado y/o castigada con la suma o resta de puntos de esperiencia en la página. Estos puntos le otorgarán ciertos permisos a los usuarios con respecto a los servicios menxionados anteriormente. Dichos permisos son:</h5>
  <ul>
    <li><strong>Preguntar</strong></li>
    <li><strong>Responder</strong></li>
    <li><strong>Comentar</strong></li>
    <li><strong>Votar</strong></li>
    <li><strong>Editar Etiquetas</strong></li>
    <li><strong>Editar Facultades</strong></li>
    <li><strong>Modificar contenido</strong></li>
    <li><strong>Editar Permisos</strong></li>
  </ul>
<div>
