<% u = current_user %>
<table>
  <tr>
    <th>Tipo</th>
    <th>Puntos</th>
  </tr>
  <tr>
    <td>Preguntas</td>
    <td><%= u.points u.questions %></td>
  </tr>
  <tr>
    <td>Respuestas</td>
    <td><%= u.points u.answers %></td>
  </tr>
  <tr>
    <td>Por emitidos</td>
    <td><%= u.points_from_votes %></td>
  </tr>
  <tr>
    <td>Netos</td>
    <td><%= u.total_points %></td>
  </tr>
</table>
