<%= form_for @question_comment, url:question_comments_path, remote: true do |f| %>
  <%= f.hidden_field :question_id, class: 'form-control' %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <%= f.submit 'Comentar', class: 'btn btn-success' %>
<% end %>
