<li class="list-group-item" id="question_comment_<%= question_comment.id %>">
  <%= link_to question_comment.user.username, user_path(question_comment.user_id) %>
  <div class="panel-body">
    <%= question_comment.body %>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <%= question_comment.publish_at %>
    </div>
  </div>
</li>
