<span class="mejor-respuesta pull-right">
  <% if answer.question.best_answer == answer %>
  Mejor respuesta
  <% elsif answer.question.user == current_user %>
  <%= link_to "Marcar como mejor respuesta",
  best_answer_path(id: answer.question.id, best_answer_id: answer.id), callback: :callback,
  method: :patch, remote: true %>
  <% end %>
</span>
