<span class="mejor-respuesta pull-right">
  <% if answer.question.best_answer == answer %>
  Mejor respuesta
  <% elsif answer.question.user == current_user %>
  <%= link_to "Marcar como mejor respuesta",
  question_best_answer_path(answer.question, answer), callback: :callback,
  method: :patch, remote: true %>
  <% end %>
</span>
