<div class="row">
  <div class="col-md-offset-2 col-md-8 well">
    <div class="container-fluid">
      <div class="col-md-6">
        <h2> <%= @tag.name %></h2>
      </div>
      <div class="col-md-6 text-right">
        <h3><%= @tag.questions_count %> pregunta(s) con esta tag.</h3>
      </div>
      <% if user_signed_in? && current_user.skill?("Editar etiquetas") %>
          <hr>
          <%= render partial:"tags/form_edit" %>
      <% end %>
    </div>
  </div>
</div>


<%= render partial:"questions/question_index", locals: {questions: @questions} %>
