<li class="list-group-item" id="<%= dom_id answer_comment %>">
  <%= link_to answer_comment.user.username, user_path(answer_comment.user_id) %>
  <div class="panel-body">
    <%= answer_comment.body %>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <%= answer_comment.publish_at %>
    </div>
  </div>
</li>
