<div class="form-group">
  <%= f.label label, class: 'control-label' %>
  <%
  opts = [] if opts.nil?
  opts.unshift label
  last = f.method(type).parameters.count - 1
  opts[last] = {class: 'form-control'}.merge(opts[last] || {})
  %>
  <%= f.send(type, *opts) %>
</div>
