<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class='panel panel-default panel-body'>
      <div class='panel-body'>
        <% if defined? title %>
          <h2><%= title %></h2>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
